*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(14, 14, 91);
}
.App form {
  margin-top:50px ;
  padding: 10px 30px;
  display: flex;
  justify-content: center;
}
.App form input{
  padding: 5px 15px;
  outline: none;
}
.App form button{
  padding: 5px 15px;
  background-color: brown;
  border: 1px solid brown;
  margin-left: 5px;
  border-radius: 7px;
  color: aliceblue;
  cursor: pointer;
  transition: 0.3s;
}
.App form button:hover{
  background: none;
  color: brown;
}
.container{
  display: flex ;
  justify-content: space-between;
}
.firstList, .secondList{
  border: 1px solid grey;
  width: 500px;
  min-height: 500px;
  margin: 50px;
  color: #fff;
  padding-bottom: 15px;
}
.firstList h2, .secondList h2{
  padding: 20px 0;
  border-bottom: 2px solid rgb(114, 40, 40);
  text-align: center;
}
.tasks{
  margin-top: 20px;
}
.tasks span{
  padding: 30px;
}
.tasks button{
  padding: 5px 15px;
  cursor: pointer;
  margin: 0 5px;
}